<!-- faz a chamada da página head.html  -->
{% include "recipes/partials/head.html" %}

<body>
  {%include 'recipes/partials/header.html'%}
  
  <div class="seacrh-conainer">

    <div class="container">
      <form action="" class="search-form">

        <input type="search" class="search-input" name="search">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>

      </form>
    </div>
  </div>
  
    <main></main>
    <footer></footer>
  </body>
</html>
